<div class="row">

<div class="col-md-4 col-md-offset-4">

<h1>Sign Up</h1>

<form action="" method="POST">
<div class="form-group">
    <label for="email">e-mail</label>
    <label for="password">password</label>

</div>

</form>


</div>

</div>