<div class="row">
    <div class="col-sm-6 col-md4">
<div class="card" style="width: 18rem;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Lapuan_liike.svg/1920px-Lapuan_liike.svg.png" class="card-img-top img-responsive" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="price pull-left">12 €</div>
    <div class="pull-right">
    <a href="#" class="btn btn-success">Go somewhere</a>
    </div>
  </div>
</div>
</div>
<div class="col-sm-6 col-md4">
<div class="card" style="width: 18rem;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Lapuan_liike.svg/1920px-Lapuan_liike.svg.png" class="card-img-top img-responsive" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="price pull-left">12 €</div>
    <div class="pull-right">
    <a href="#" class="btn btn-success">Go somewhere</a>
    </div>
  </div>
</div>
</div>
<div class="col-sm-6 col-md4">
<div class="card" style="width: 18rem;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Lapuan_liike.svg/1920px-Lapuan_liike.svg.png" class="card-img-top img-responsive" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="price pull-left">12 €</div>
    <div class="pull-right">
    <a href="#" class="btn btn-success">Go somewhere</a>
    </div>
  </div>
</div>
</div>
</div>
<div class="row">
    <div class="col-sm-6 col-md4">
<div class="card" style="width: 18rem;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Lapuan_liike.svg/1920px-Lapuan_liike.svg.png" class="card-img-top img-responsive" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="price pull-left">12 €</div>
    <div class="pull-right">
    <a href="#" class="btn btn-success">Go somewhere</a>
    </div>
  </div>
</div>
</div>
<div class="col-sm-6 col-md4">
<div class="card" style="width: 18rem;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Lapuan_liike.svg/1920px-Lapuan_liike.svg.png" class="card-img-top img-responsive" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="price pull-left">12 €</div>
    <div class="pull-right">
    <a href="#" class="btn btn-success">Go somewhere</a>
    </div>
  </div>
</div>
</div>
<div class="col-sm-6 col-md4">
<div class="card" style="width: 18rem;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Lapuan_liike.svg/1920px-Lapuan_liike.svg.png" class="card-img-top img-responsive" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="price pull-left">12 €</div>
    <div class="pull-right">
    <a href="#" class="btn btn-success">Go somewhere</a>
    </div>
  </div>
</div>
</div>
</div>